body {
	margin: 0;
	color: black;
	font-size: 16px;
	font-family: 'Garamond', 'Baskerville', 'Times', serif;
	font-style: italic;
	line-height: 1.5em;
	text-align: center;
}

h1 {
	font-size: 4em;
	font-family: 'Garamond', 'Baskerville', 'Times', serif;
	font-style: normal;
	font-weight: normal;
	margin: 0 auto 0.35em;
}

h2 {
	font-size: 2.5em;
	font-family: 'Garamond', 'Baskerville', 'Times', serif;
	font-style: normal;
	font-weight: normal;
	line-height: 1em;
	margin: 0 auto 0.35em;
}

#page {
	position: relative;
	width: 1024px;
	min-height: 600px;
	margin: 0 auto;
}

#header {
	width: 1024px;
	margin-bottom: 3em;
}

	#header img {
		display: block;
		width: 500px;
		margin: 1.5em auto 2.4em;
		border: 0;
	}

	#header #subtitle {
		font-size: 1.5em;
		line-height: 1.2em;
		letter-spacing: 1px;
	}

#nav {
	margin: 0 auto;
	padding: 0;
	width: 400px;
	list-style: none;
}

	#nav li {
		margin: 1em 0;
	}

	#nav li a {
		text-decoration: none;
		color: #222;
	}

	#nav a .button {
		font-style: italic;
		font-size: 2.5em;
		padding: 0 1.3em;
	}

	#nav a:hover .button {
		background: url(finger-l.png) left no-repeat;
	}